langchain==0.0.138
nltk==3.7
pinecone_client==2.2.1
python-dotenv==1.0.0
PyYAML==6.0
argparse==1.4.0
openai==0.27.4
chromadb==0.4.6
pre-commit>=3.2.0
python-dotenv==1.0.0
tiktoken==0.3.3
Wikipedia-API==0.6.0
pdfplumber==0.10.3
pandas==2.0.3 
docx==0.2.4